<%- include('partials/boilerplate_top') %>

<body>
  <header class="container-full-width fixed-top">
    <%- include('partials/navbar.ejs') %>
  </header>
  <h1 id="testid" class="title-padding big-title">Charmeine Wang</h1>
  <h3 id="testid" class="title-padding">I am <span id="rotating-noun">an artist</span>.</h3>
  <!--<h1 id="testid" class="title-padding">based in reality.</h1>-->

<section class="section-test" id="section-test"> <!-- container-fluid px-0-->
<!-- Next and previous buttons -->
<a class="prev" id="prev">&#10094;</a>
<a class="next" id="next">&#10095;</a>
    <div class="c-slide justify-content-center container-full-width" id="c-slide">

      <div class="c-inner"id="c-inner">
        <ul class="view-grouping">
        <li class="c-item c1">
          <a href="/persona" class="c-item c1">
          <span class="caption">Persona</span>
          <img class="c-img" src="../imgs/art1.jpg">
        </a></li>

        <li class="c-item c2"><a href="/merch" class="c-item c2">
          <span class="caption">Merch</span>
          <img class="c-img" src="../imgs/art2.jpg">
        </a></li>

        <li class="c-item c3"><a href="/exe" class="c-item c3">
          <span class="caption">.exe</span>
          <img class="c-img" src="../imgs/art3.jpg">
        </a></li>

        
        </ul>
</div>

      <div class="c-inner">
        <ul class="view-grouping">
          
        <li class="c-item c4">
          <a href="/qiworld" class="c-item c4"> 
          <span class="caption">Qi World</span>
          <img class="c-img" src="../imgs/art4.jpg">
        </a></li>
        
        
        <li class="c-item c5" >
          <a href="/downloadables" class="c-item c5">
          <span class="caption">Downloadables</span>
          <img class="c-img" src="../imgs/art5.jpg">
        </a></li>
        <li class="c-item c6">
        <a href="/archive" class="c-item c6">
        
          <span class="caption">Archive</span>
          <img class="c-img" src="../imgs/art6.jpg">
        </a></li>

        </ul>

  </div>


      <div class="c-inner"id="c-inner">
        <ul class="view-grouping">
          <li class="c-item c1">
          <a href="/persona" class="c-item c1">
          <span class="caption">Persona</span>
          <img class="c-img" src="../imgs/art1.jpg">
</a>
</li>
<li class="c-item c2">
        <a href="/merch" class="c-item c2">
          <span class="caption">Merch</span>
          <img class="c-img" src="../imgs/art2.jpg">
</a>
</li>
<li class="c-item c3">
        <a href="/exe" class="c-item c3">
          <span class="caption">.exe</span>
          <img class="c-img" src="../imgs/art3.jpg">
</a>
        </li>
        </ul>
</div>
<div class="c-inner">
        <ul class="view-grouping">
          <li class="c-item c4">
          <a href="/qiworld" class="c-item c4">
          <span class="caption">Qi World</span>
          <img class="c-img" src="../imgs/art4.jpg">
          </a></li>
          <li class="c-item c5">
          <a href="/downloadables" class="c-item c5">
          <span class="caption">Downloadables</span>
          <img class="c-img" src="../imgs/art5.jpg">
</a></li>
<li class="c-item c6">
          <a href="/archive" class="c-item c6">
          <span class="caption">Archive</span>
          <img class="c-img" src="../imgs/art6.jpg">
</a></li>
        </ul>

  </div>
    <div class="c-inner"id="c-inner">
      <ul class="view-grouping">
      <li class="c-item c1">
        <a href="/persona" class="c-item c1">
        <span class="caption">Persona</span>
        <img class="c-img" src="../imgs/art1.jpg">
      </a></li>


      <li class="c-item c2">
        <a href="/merch" class="c-item c2">
        <span class="caption">Merch</span>
        <img class="c-img" src="../imgs/art2.jpg">

      </a></li>

      <li class="c-item c3">
        <a href="/exe" class="c-item c3">
        <span class="caption">.exe</span>
        <img class="c-img" src="../imgs/art3.jpg">
      </a></li>

      </ul>

</div>

</section>
 
    <h4 class="title-padding top-padding">Insert About Me Here:</h4>
    <p class="text-padding">
      Hi, I'm Charmeine. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, nostrum. Et officia enim distinctio sapiente, harum porro laudantium iste perferendis repellendus mollitia sequi corrupti nemo dolor, assumenda ipsum temporibus blanditiis.
      Numquam blanditiis atque minus sint esse minima. Sint culpa repellat dolorum, ratione deleniti libero, veritatis voluptatum animi cumque voluptate ex quas praesentium, odio iusto? Illum et dolor suscipit. Perferendis, vero?
      Adipisci illum, repellendus nihil recusandae, reiciendis, in iure et laborum laudantium animi aliquam. Qui, distinctio delectus consectetur dolores fugit quibusdam earum harum obcaecati omnis nobis labore, voluptates laboriosam culpa aliquid?
      Omnis quo eligendi, voluptatibus soluta fugiat quidem incidunt corporis, eos iste alias at sint debitis non dicta labore necessitatibus? Harum inventore voluptatibus voluptate maiores accusamus non libero ex repellat. Harum.
    </p>
    <p class="text-padding">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio debitis et illum id, ut veniam blanditiis provident corporis, iste earum officia dignissimos iusto magnam ducimus. Vero, voluptatem? Neque, reiciendis est?
      Atque, aspernatur. Ipsum ducimus quasi perspiciatis at eius pariatur reiciendis dolorum esse aut ut ea, architecto odit impedit unde assumenda eos consequatur aperiam officiis iste recusandae ab. Et, in inventore?
    </p>

    <%- include('partials/footer') %>
    <%- include('partials/boilerplate_bottom') %>